@use "../../scss/partials/mixin" as mix;
@import "./variables";

// Sizing
*,
*::after,
*::before {
   box-sizing: border-box;
}

.clearfix::after {
   content: "";
   display: block;
   clear: both;
}

.container {
   max-width: 1240px;
   margin: 0 auto;
}

a,
button {
   color: inherit;
   background: inherit;
   text-decoration: none;
   border: none;
   box-shadow: none;
   cursor: pointer;
}

li {
   list-style: none;
}
// sizing

:root {
   scroll-behavior: smooth;
}

main {
   margin: 110px auto 150px;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 150px;
   @include mix.xl {
      margin: 50px auto 70px;
      gap: 100px;
   }
   @include mix.sm {
      gap: 70px;
   }
}
// animation of page switch
.fade {
   animation: fade 600ms linear;
}

@keyframes fade {
   0% {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
@media (min-width: 1024px) {
   #navigaionContainer {
      width: 80%;
      height: 60px;
      transform-style: preserve-3d;
      transition: all 0.4s linear;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      z-index: -1;

      @media (max-width: 1024px) {
         justify-content: start;
      }
   }
   
   #navigaionContainer[data-navlist-animation="studio"] {
      transform: rotateY(180deg);
      opacity: 1;
   }



   #navigaionContainer[data-navlist-animation="band"] {
      opacity: 1;

   }
}

#logo2footer[data-rotate="false"] {
   transition: all 0.1s ease-in;
   transform: rotateY(0deg);
}
#logo2footer[data-rotate="true"] {
   transform: rotateY(180deg);
   transition: all 0.1s ease-in;
}
#logo1footer[data-rotate="true"] {
   transition: all 0.1s ease-in;
   transform: rotateY(0deg);
}
#logo1footer[data-rotate="false"] {
   transform: rotateY(180deg);
   transition: all 0.1s ease-in;
}

#logoRotate {
   transition: all 0.4s ease-in;
}

#logoRotate[data-rotate="true"] {
   transform: rotateY(0deg);
}

#logoRotate[data-rotate="false"] {
   transform: rotateY(180deg);
}

.rotateNavigation {
   position: relative;
   // transform-style: preserve-3d;

}


body {
   font-family: "Montserrat Alternates", sans-serif;
   font-size: 18px;
   font-weight: 400;
   background: #151515;
   color: #fff;
}
button {
   font-family: "Montserrat Alternates", sans-serif;
}

p,
a {
   font-size: 18px;
   line-height: 150%;
   letter-spacing: 0.36px;
}

h6 {
   font-size: 20px;
   line-height: 150%;
   letter-spacing: 0.4px;
}

h5 {
   font-size: 22px;
   line-height: 150%;
   letter-spacing: 0.44px;
}
h4 {
   font-size: 24px;
   line-height: 150%;
   letter-spacing: 0.48px;
}
h3 {
   font-size: 26px;
   line-height: 150%;
   letter-spacing: 0.52px;
}
h2 {
   font-size: 32px;
   line-height: 150%;
   letter-spacing: 0.64px;
}

h1 {
   font-size: 40px;
   line-height: 125%;
   letter-spacing: 0.8px;
}
