@import "./variables";

@mixin sm {
   @media screen and (max-width: 576px) {
      @content;
   }
}

@mixin md {
   @media screen and (max-width: 768px) {
      @content;
   }
}

@mixin lg {
   @media screen and (max-width: 992px) {
      @content;
   }
}

@mixin xl {
   @media screen and (max-width: 1024px) {
      @content;
   }
}

@mixin xxl {
   @media screen and (max-width: 1200px) {
      @content;
   }
}
@mixin buttons($fill, $color, $background, $border) {
   // apply style on anchor tag
   button {
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 0.48px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      border: 1px solid $border;
      border-radius: $radius;
      background: $background;
      fill: $fill;
      color: $color;
   }
}

@mixin burgerButton($fill, $color, $background, $border, $radius) {
   font-size: 16px;
   font-weight: 600;
   letter-spacing: 0.32px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid $border;
   border-radius: $radius;
   background: $background;
   fill: $fill;
   color: $color;
   @media screen and (min-width: 1024px) {
      display: none;
   }
}
