@import "./variables";

@mixin sm {
  @media screen and (min-width: 576px) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin xxl {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
@mixin buttons($fill, $color, $background, $border) {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.48px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 470px;
  height: 70px;
  border: 1px solid $border;
  border-radius: $radius;
  background: $background;
  fill: $fill;
  color: $color;
}
