// Colors for text, border, svg, backgrounds
$color_black: #151515;
$color_yellow: #fed102;
$color_white: #fcfcfc;
$color_blue: #3d63fa;
$button_blue: rgba(29, 97, 200, 0.87);

// Fonts

$medium: 500;
$bold: 700;

// hover state
$hover_yellow: #fed102;
$hover_white: #fcfcfc;
$hover_black: #151515;
$hover_blue: #3d63fa;

// border
$radius: 16px;

// Size

// Breakpoints
//
$mobile_width: 600px;
$tablet_width: 768px;
$desktop_width: 1440px;
$large_desktop_width: 1200px;
