@import "../../../scss/partials/mixin";

.teacherSwiper {
   max-width: 1160px;
   width: 100%;
}

.teacherSwiper[data-lessFour="true"] div {
   justify-content: center;
}

.teacherSwiper::-webkit-scrollbar {
   display: none;
}

.teacherContainer {
   padding-inline: 30px;
   position: relative;
   margin: auto;
   max-width: 1240px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 50px;
}

.buttonPrev {
   position: absolute;
   z-index: 2;
   left: 0;
   bottom: 50%;

   & svg {
      width: 100%;
      height: 100%;
   }
   @include xxl {
      margin-right: 32px;
      width: 15px;
      height: 28px;
   }
   @include xl {
      margin-right: 30px;
   }
   @media screen and (max-width: 892px) {
      margin-right: 28px;
   }
   @include md {
      margin-right: 26px;
   }
   @include sm {
      width: 10px;
      height: 20px;
      margin-right: 24px;
   }
}

.buttonNext {
   position: absolute;
   z-index: 2;
   right: 0;
   bottom: 50%;
   & svg {
      width: 100%;
      height: 100%;
      transform: scaleX(-1);
   }
   @include xxl {
      margin-left: 32px;
      width: 15px;
      height: 28px;
   }
   @include xl {
      margin-left: 30px;
   }
   @media screen and (max-width: 892px) {
      margin-left: 28px;
   }
   @include md {
      margin-left: 26px;
   }
   @include sm {
      width: 10px;
      height: 20px;
      margin-left: 24px;
   }
}

.cardSwiperTeacher {
   position: relative;
   width: 250px;
   @include xxl {
      width: 224px;
   }
   @include xl {
      width: 202px;
   }
   @media screen and (max-width: 892px) {
      width: 186px;
   }
   @include md {
      width: 170px;
   }
   @include sm {
      width: 154px;
      height: 227px;
   }
}
