@import "../../../scss/partials/mixin";

.feedbackContainer {
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 1240px;
   @media screen and (max-width: 1440px) {
      width: 1170px;
   }
   @include xxl {
      width: 990px;
   }
   @include xl {
      width: 880px;
   }
   @media screen and (max-width: 892px) {
      width: 750px;
   }
   @include md {
      width: 645px;
   }
   @media screen and (max-width: 658px) {
      width: 560px;
   }
   @include sm {
      position: relative;
      width: 320px;
   }
   @media screen and (max-width: 390px) {
      position: relative;
      width: 290px;
   }
}

.feedbackSwiper {
   width: 1095px;
   @media screen and (max-width: 1440px) {
      width: 1040px;
   }
   @include xxl {
      width: 900px;
   }
   @include xl {
      width: 790px;
   }
   @media screen and (max-width: 892px) {
      width: 660px;
   }
   @include md {
      width: 560px;
   }
   @media screen and (max-width: 658px) {
      width: 480px;
   }
   @include sm {
      width: 320px;
   }
   @media screen and (max-width: 390px) {
      width: 300px;
   }
}
