.StudentsFeedbackSlider {
   width: 1240px;
   height: 583px;
   margin-left: 100px;
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.StudentsFeedbackCard {
   width: 360px;
   height: 525px;
   background-color: #353535;
   text-align: center;
   border-radius: 16px;
   color: white;
   & img {
      width: 360px;
      height: 405px;
      border-radius: 16px 16px 0 0;
   }
   & .StudentsName {
      font-weight: 450;
      font-size: 21px;
      line-height: 32px;
   }
   & .StudentsWord {
      font-weight: 360;
      font-size: 14px;
      line-height: 21px;
      margin: 0 16px;
   }
}

.studentsSwiper {
   max-width: 1095px;
}

.buttonPrev {
  position: absolute;
  padding: 20px;
  top: 40%;
  left: 13px;
  transform: translateX(-50%);
}
.buttonNext svg {
   rotate: 180deg;
}
.buttonNext {
   position: absolute;
   padding: 20px;
   top: 40%;
   right: -48px;
   transform: translateX(-50%);
}
