.hero {
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   width: 100vw;
   max-height: 677px;
}
.hero video {
   width: 100%;
   max-height: 677px;
   object-fit: cover;
}

.hero button {
   position: relative;
   left: 50%;
   transform: translate(-50%, -200%);
}
//heroStudio

.heroStudio {
   width: calc(100% - 200px);
   margin: 0 auto;
}
.text {
   position: absolute;
   top: 50%;
   transform: translate(0%, -50%);
   display: flex;
   flex-direction: column;
   gap: 40px;
}
.heroH1 {
   font-weight: 700;
   text-align: start;
   width: 65%;
}
.paragraph {
   font-weight: 500;
   width: 45%;
}
