@use "../../scss/partials/mixin" as mix;
@import "../../scss/partials/variables";

.header {
   left: 50%;
   top: 0;
   transform: translateX(-50%);
   width: 100%;
   position: fixed;
   z-index: 10;
   background-color: $color_black;

   @media (max-width: 1024px) {
      height: 50px;
      .open {
         left: 0;
      }
   }
}

.nav {
   max-width: 1240px;
   margin: 0 auto;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
   @media (max-width: 1240px) {
      padding-inline: 10px;
   }
   @include mix.xl {
      transition: all 0.5s ease-in-out;
      top: 0;
      padding-top: 50px;
      padding-inline: 30px;
      align-items: flex-start;
      position: absolute;
      width: 380px;
      left: -200%;
      flex-direction: column;
      gap: 30px;
      height: 367px;
      @include mix.sm {
         width: 298px;
         padding-inline: 16px;
      }
      &::before {
         transition: width 0.5s ease-in-out;
         content: " ";
         left: 0;
         top: 0;
         position: absolute;
         background: #151515;
         height: 100vh;
         width: 380px;
         @include mix.sm {
            width: 298px;
         }
      }
   }
}
