@use "../../scss/partials/mixin" as mix;

.modal {
   position: fixed;
   border: none;
   padding: 0;
   max-width: 900px;
   max-height: 500px;
   border-radius: 16px;
   transition: all 0.5s forwards;
   width: 90%;
   height: 100%;
   margin: 20px 40px 20px 0;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   overflow: hidden;
}

.modal::backdrop {
   // FIX_ME check the color and opacity with designer
   background: black;
   opacity: 0.4;
}

.modal[open] {
   animation: fade-in 300ms forwards;
}
.modal[closing] {
   display: block;
   pointer-events: none;
   animation: fade-out 200ms forwards;
}
@keyframes fade-in {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

@keyframes fade-out {
   from {
      opacity: 1;
   }
   to {
      opacity: 0;
   }
}

.close {
   width: 24px;
   height: 24px;
   position: inherit;
   right: 7px;
   top: 11px;
   @include mix.sm {
      top: 15px;
   }

   @include mix.smm {
      top: 21px;
   }
}

.close:hover {
   scale: 1.3;
   transition: scale 0.1s;
}
