@import "../../../scss/partials/variables";

.section {
   max-width: 1240px;
   margin: auto;
}

.collageInfo {
   margin-block: 30px;
   position: relative;
   color: $color_white;
   text-align: center;
}
.collageInfo button {
   position: absolute;
   top: 2px;
   left: 0;
}
