.socialLinks {
  display: flex;
  gap: 10px;
  height: 24px;
}

.socialLinks li a svg path {
  // transfer to global
  fill: #fff;
}
.socialLinks li a:hover svg path {
  // transfer to global
  fill: #fed102;
}
