@import "../../scss/partials/variables";
@import "../../scss/partials/mixin";

.socialLinks {
   display: flex;
   position: relative;
   gap: 10px;
   height: 24px;
   z-index: 1;
   @include xl {
      margin-top: -16px;
   }
   @include xl {
      margin-top: -20px;
   }
}

.socialLinks li a svg path {
   fill: $color_white;
}
.socialLinks li a:hover svg path {
   fill: $hover_yellow;
   transition: 0.5s;
}
.socialLinks li a svg path{
   transition: 0.5s;
}