@use "../../../scss/partials/mixin" as mix;
@import "../../../scss/partials/variables";

.navigation {
   max-width: 1240px;
   display: flex;
   position: relative;
   justify-content: space-evenly;
   gap: 24px;
   white-space: nowrap;
   @include mix.xl {
      flex-direction: column;
      gap: 14px;
   }
   @include mix.sm {
      flex-direction: column;
      gap: 10px;
   }
}

@media (min-width: 1024px) {
   .navigation {
   backface-visibility: hidden ;
 
   
}
.navigation[data-navigation="studio"] {
   transform: rotateY(0.5turn);
   z-index: 2;
}
.navigation[data-navigation="band"] {
   z-index: 1;
   
}
.navigation[data-navigation="studio"],
.navigation[data-navigation="band"] {
   position: absolute;
   backface-visibility: hidden; 
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   transform-style: preserve-3d;
   }
}

.navigation a {
   text-decoration: none;
}

.active {
   color: $hover_yellow;
}

.navigation a:active {
   color: $hover_yellow;
   transition: 0.5s;
}

.navigation a:hover {
   color: $hover_yellow;
   transition: 0.5s;
}
.navigation a {
   transition: 0.5s;
}
