@use "../../../scss/partials/mixin" as mix;
@import "../../../scss/partials/variables";

.navigation {
   max-width: 1240px;
   display: flex;
   position: relative;
   justify-content: space-evenly;
   gap: 24px;
   white-space: nowrap;
   @include mix.xl {
      flex-direction: column;
      gap: 14px;
   }
   @include mix.sm {
      flex-direction: column;
      gap: 10px;
   }
}

.navigation[data-navigation="studio"] {
}
.navigation[data-navigation="band"] {
}

@keyframes rotateNav {
   from {
      transform: scale(0.4) translateY(45deg);
   }
   to {
      transform: scale(1) translateY(0deg);
   }
}

.navigation a {
   text-decoration: none;
}

.active {
   color: $hover_yellow;
}

.navigation a:active {
   color: $hover_yellow;
   transition: 0.5s;
}

.navigation a:hover {
   color: $hover_yellow;
   transition: 0.5s;
}
.navigation a {
   transition: 0.5s;
}
