@import "../../../scss/partials/variables";

.galleryWrapper {
   max-width: 1240px;
}

.navigation {
   position: relative;
   top: 28px;
}

.navigation:hover path {
   fill: #fed102;
}

.gallery::-webkit-scrollbar {
   display: none;
}

.loadingBox {
   border-radius: 16px;
   background-color: #fff;
   width: 100%;
   height: 100%;
   opacity: 0.3;
   animation: fadeInOut 2s infinite;
}

@keyframes fadeInOut {
   0% {
      opacity: 0.3;
   }
   50% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}
.gallery {
   max-width: 1240px;
   width: 100%;
   margin: 80px auto 0;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
   transition: all 1s ease-in-out;

   p {
      font-size: 14px;
      letter-spacing: 0.28px;
      color: #fed102;
   }
   h4 {
      color: #fed102;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 0.4px;
   }

   @media screen and (max-width: 1280px) {
      padding-inline: 40px;
      gap: 40px;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
   }
   @media screen and (max-width: 1024px) {
      padding-inline: 20px;
   }
   @media screen and (max-width: 924px) {
      gap: 16px;
   }

   @media screen and (max-width: 680px) {
      grid-template-columns: 1fr;
      grid-auto-flow: row;
      max-height: calc(3 * (270px - 30px + 26px));
      overflow-y: scroll;

      .galleryCards {
         width: calc(400px - 30px);
         height: calc(270px - 30px);
      }
   }
   @media screen and (max-width: 440px) {
      .galleryCards {
         width: calc(100% - 16px);
         height: calc(270px - 50px);
      }
   }
   @media screen and (max-width: 360px) {
      .galleryCards {
         height: calc(270px - 90px);
      }
   }
}

.galleryCards {
   color: $color_yellow;
   font-size: 30px;
   aspect-ratio: 400/270;
   width: 100%;
   height: 100%;
   gap: 4px;
   overflow: hidden;
   border-radius: 16px;
   transition: all 1s ease-in-out;
}

@keyframes fadeOut {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

.galleryCardsContent {
   position: absolute;
   bottom: 20px;
   left: 20px;
   z-index: 5;
}
.image_container {
   display: block;
   height: 100%;
   width: 100%;
   position: relative;
}
