@import "../../../scss/partials/mixin";

.concertSwiper {
   max-width: 1160px;
   width: 100%;
   border-radius: 16px;
}

.concertSwiper[data-less-three="true"] div {
   justify-content: center;
}

.ConcertSlider {
   position: relative;
   margin: 0 auto;
   max-width: 1240px;
   padding-inline: 30px;
   @include sm {
      // width: fit-content;
      padding-inline: 0;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      padding-inline: 0px;
      max-width: 358px;
   }
}

.concertsSwipeCard {
   min-width: 380px;
   max-width: 380px;
   width: unset !important;
   @include xl {
      min-width: 295px;
      max-width: 295px;
      height: 175px;
   }
   @include sm {
      min-width: 358px;
      width: 100%;
      height: 200px;
   }
}

.watchmore {
   display: flex;
   position: absolute;
   margin-top: 10px;
   right: 40px;
   text-decoration: underline;
   right: 40px;
   @include xl {
      right: 30px;
   }
   @include sm {
      right: 0;
      position: relative;
      align-self: flex-end;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0.02em;
   }
}

// @media only screen and (max-width: 540px) {
//    .ConcertsCard {
//       display: block !important;
//    }
//    .ConcertSlider {
//       display: none !important;
//    }

//    .MobileConcerts {
//       display: flex !important;
//    }
// }

// @media only screen and (max-width: 540px) {
//    .ConcertSlider {
//       display: block !important;
//       flex-direction: column;
//    }
//    .LeftSwip,
//    .RightSwip {
//       display: none !important;
//    }
// }
