@import "../../../scss/partials/variables";

.courses_grid {
  max-width: 1240px;
  margin: 0 auto;
  @media screen and (max-width: 1260px) {
    padding-inline: 20px;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: auto;
}
