@import "../variables";

footer {
  display: flex;
  gap: 100px;
}

.footerLogos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerContent h4 {
  padding-bottom: 10px;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 50px;
}

.footerBoxContacts > a {
  white-space: nowrap;
}

// Education

.footerBoxEdu ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 25px;
  white-space: nowrap;
}

.footerBoxAddress {
  max-width: 20%;
}

.footerContent li ul {
  padding: 0;
}

.footerContacts {
  white-space: pre;
}

a:hover {
  color: $hover_yellow;
}
