@import "../variables";
.header {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 10;
  // transfer to glabal
  max-width: 1440px;
  background-color: $color_black;
  // color: #fff;
  //
}

.header nav {
  height: 80px;
  padding-inline: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
