@import "../variables";
.header {
   left: 50%;
   top: 0;
   transform: translateX(-50%);
   width: 100%;
   position: fixed;
   z-index: 10;
   background-color: $color_black;
}

.header nav {
   height: 80px;
   padding-inline: 100px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
}
