@import "../variables";

.navButtons {
   display: flex;
   background-color: #151515;
   border-top: 1px solid #353535;
   border-bottom: 1px solid #353535;
   height: 30px;
}

.navButtons a {
   width: 100%;
   text-align: center;
}

.navButtons:hover a {
   // global
   color: $color_white;
}

.navButtons p {
   font-weight: 500;
}

// on coolBand page

.navButtonsMainActive {
   // transfer to glabal
   background-color: #fed102;
   font-weight: 700;
   box-shadow: 0px -4px 6.7px 0px rgba(80, 80, 80, 0.37) inset;
   //   transfer to global
   border-end-end-radius: 16px;
}

.navButtonsSecondaryNotActive {
   box-shadow: 0px -4px 7px 0px rgba(37, 37, 37, 0.31) inset;
}

// on Coolstudio page

.navButtonsSecondaryActive {
   background: rgba(9, 80, 188, 0.87);
   font-weight: 700;

   //   transfer to global
   border-end-start-radius: 16px;
   box-shadow: 0px -4px 6.7px 0px rgba(80, 80, 80, 0.37) inset;
}
.navButtonsMainNotActive {
   box-shadow: 0px -4px 7px 0px rgba(37, 37, 37, 0.31) inset;
}
