@import "../../variables";
.navigation {
  max-width: 1240px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
  white-space: nowrap;
}

.navigation a {
  text-decoration: none;
}

.active {
  color: $hover_yellow;
}

.navigation a:active {
  color: $hover_yellow;
}

.navigation a:hover {
  color: $hover_yellow;
}
