.blue {
   background-color: #5979fa;
   color: #fcfcfc;
   svg path {
      fill: #fcfcfc;
   }
}
.yellow {
   background-color: #fed102;
   color: #151515;
   svg path {
      fill: #151515;
   }
}

.label {
   @media screen and (min-width: 1024px) {
      display: none;
   }
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   cursor: pointer;
   font-size: 20px;
   font-weight: 700;
   line-height: 150%; /* 30px */
   letter-spacing: 0.4px;
}

.input:checked {
   width: 100%;
   position: absolute;
   content: " ";
   background: black;
   top: 0;
   // FIX_ME check with designers
   // top: 50px;
   height: 204vw;
   opacity: 0.7;
}

.input {
   appearance: none;
   margin: 0;
   opacity: 0;
   transition: opacity 0.5s ease-in-out;
}
.label svg {
   position: absolute;
   left: 16px;
}
