.top-buttons {
   z-index: 12;
   position: fixed;
   top: 80px;
   max-width: 100%;
   width: -webkit-fill-available;
   height: 30px;
   display: flex;
   background-color: #151515;
   border-top: 1px solid #353535;
   border-bottom: 1px solid #353535;
}
.top-buttons:hover a {
   color: #fff;
}

.top-buttons *,
.top-buttons * * {
   color: #fff;
   width: 100%;
   height: 100%;
   // add font
   font-family: "";
   font-size: 18px;
   font-style: normal;
   font-weight: 500;
   line-height: 150%; /* 27px */
   letter-spacing: 0.36px;
}

// on coolBand page

.top-buttons-main-active {
   background-color: #fed102;
   color: #fff;
   font-weight: bold;
   box-shadow: 0px -4px 6.7px 0px rgba(80, 80, 80, 0.37) inset;
   border-end-end-radius: 16px;
   overflow: hidden;
}

.top-buttons-secondary-notActive {
   background-color: #151515;
   color: #fff;
   box-shadow: 0px -4px 7px 0px rgba(37, 37, 37, 0.31) inset;
}

// on Coolstudio page

.top-buttons-secondary-active {
   // background: var(--Blue, #5979fa);
   background: rgba(9, 80, 188, 0.87);
   color: #fff;
   border-radius: 0px 0px 0px 16px;
   box-shadow: 0px -4px 7px 0px rgba(0, 0, 0, 0.25);
}
.top-buttons-main-notActive {
   background-color: #151515;
   color: #fff;
   box-shadow: 0px -4px 7px 0px rgba(0, 0, 0, 0.25);
}
