// Colors

$main-background-color: #151515;

// Fonts
$main-font: 'Montserrat Alternates';
$main-font-color: #FFFFFF;

// Breakpoints
$mobile-width: 600px;
$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1200px;
