@import "../../mixin";
@import "../../variables";

.button {
  @include buttons($fill: $color_yellow, $color: $color_yellow, $background: $color_black, $border: $color_yellow);
  align-self: center;
}

.button:hover {
  color: $color_black;
  fill: $color_black;
  background: $color_yellow;
}

.buttonBlue {
  @include buttons($fill: $color_white, $color: $color_white, $background: $button_blue, $border: $button_blue);
  align-self: center;
}

.button:hover {
  //  animate pending
}
