@import "../../../scss//partials/mixin";

.video {
   min-height: 288px;
   min-width: 432px;
   border-radius: 16px;
   object-fit: cover;
   @include md {
      width: 100%;
      min-height: 350px;
   }
   @media screen and (max-width: 470px) {
      min-height: 228px;
      min-width: 40px;
   }
}
