@use "../../scss/partials/mixin" as mix;
@import "../../scss/partials/variables";

.header {
   left: 50%;
   top: 0;
   transform: translateX(-50%);
   width: 100%;
   position: fixed;
   z-index: 10;
   background-color: $color_black;

   @media (max-width: 1024px) {
      height: 50px;
      .open {
         left: 0;
      }
   }
}

.nav {
   max-width: 1240px;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
   @media (min-width: 1024px) {
      left: calc(50% - 20px);
      top: 0;
      transform: translateX(-50%);
      position: relative;
      margin-inline: 20px;
   }
   @include mix.xl {
      height: 100%;
      transition: all 0.5s ease-in-out;
      top: 0;
      padding-top: 50px;
      padding-inline: 30px;
      align-items: flex-start;
      position: absolute;
      width: 380px;
      left: -200%;
      flex-direction: column;
      gap: 30px;
      height: 367px;
      @include mix.sm {
         width: 298px;
         padding-inline: 16px;
      }
      &::before {
         transition: width 0.5s ease-in-out;
         content: " ";
         left: 0;
         top: 0;
         position: absolute;
         background: #151515;
         height: 100vh;
         width: 380px;
         @include mix.sm {
            width: 298px;
         }
      }
   }
}

.close {
   position: absolute;
   z-index: 1;
   width: 30px;
   height: 30px;
   right: 20px;
   top: 20px;
   cursor: pointer;
   opacity: 0.5;
   display: none;
   @include mix.xl {
      display: block;
   }
}

.close:before,
.close:after {
   content: "";
   content: " ";
   position: absolute;
   z-index: 2;
   top: 50%;
   border-radius: 20px;
   width: 24px;
   height: 4px;
   opacity: 1;
   background-color: #fed102;
   cursor: pointer;
}

.close:hover {
   opacity: 1;
}

.close:before {
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   transform: rotate(45deg);
}
.close:after {
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   transform: rotate(-45deg);
}
