@use "../../scss/partials/mixin" as mix;


.made {
  display: block;
  font-size: 14px;
  position: relative;
  margin: 20px 0 35px 0;
  text-align: center;
}

.made::after {
  content: "";
  position: absolute;
  background: url("../../assets/geeks.svg") no-repeat 50% 50%;
  width: 35px;
  height: 36px;
  display: block;
  top: -5px;
  right: 41.5%;
  @include mix.lg {
    right: 35%;
  }
  @include mix.md {
    right: 30%;
  }
  @include mix.sm {
    right: 25%;
  }
  @include mix.smx {
    right: 15%;
  }
}
