@use "../../scss/partials/mixin" as mix;

.made {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
   font-size: 14px;
   position: relative;
   margin-top: 100px;
   @include mix.lg {
      margin-block: 50px;
   }
}

.made::after {
   content: "";
   display: block;
   position: relative;
   background: url("../../assets/geeks.svg") no-repeat 50% 50%;
   width: 35px;
   height: 36px;
}
