.page-logo {
   position: relative;
   width: 104px;
   height: 60px;
   background-color: $main-background-color;
}

.hover-state-background {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 10px;
   filter: blur(16px);
   opacity: 0;
   transition: opacity 0.3s ease;
}

.page-logo:hover .hover-state-background {
   opacity: 0.4;
}

/* Additional styles for the image if needed */
.page-logo img {
   display: block;
   width: 100%;
   height: auto;
}
