@import "../../../scss/partials/variables";

.a {
   display: inline-block;
}

.h6 {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px;
}

.h6:hover {
   color: $color_yellow;
}
.h6:hover path {
   fill: $color_yellow;
}
