@import "../../../scss/partials/mixin";
@import "../../../scss/partials/variables";

.buttonContainer {
  min-width: 356px;
  max-width: 470px;
  width: 100%;
  @media screen and (max-width: 1024px) {
    button {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 460px) {
    button {
      font-size: 18px;
    }
  }
}

.button {
  @include buttons($fill: $color_yellow, $color: $color_yellow, $background: $color_black, $border: $color_yellow);
  align-self: center;
  margin: auto;
  max-width: 470px;
  width: 100%;
}

.button:hover {
  color: $color_black;
  fill: $color_black;
  background: $color_yellow;
}

.buttonBlue {
  @include buttons($fill: $color_white, $color: $color_white, $background: $button_blue, $border: $button_blue);
  align-self: center;
  transition: all 0.3s ease-in-out;
  margin: auto;
  max-width: 470px;
  width: 100%;
}

.buttonBlue:hover {
  box-shadow: 0px -12px 150px 0px rgba(168, 208, 239, 0.63);
}
.buttonBlue:active {
  border-color: $color_white;
}
