@import "../../../scss/partials/variables";

.a {
   display: inline-block;
}

.h6 {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px;
   font-size: 20px;
   line-height: 150%;
   letter-spacing: 0.4px;
   &:hover {
      color: $color_yellow;
   }
   &:hover path {
      fill: $color_yellow;
   }
   & svg {
      scale: (-1);
   }
}
