.ourEvent {
   position: relative;
   overflow: hidden;
   // width: 100vw;
   // left: 50%;
   // transform: translateX(-50%);
   padding-inline: 0;
}

.scroller[data-scroller="scroller"] {
   max-width: 100%;
}

.scroller {
   position: relative;
   overflow: hidden;
}

.scrollerInner {
   // adjust adnimation duration here
   height: 400px;
   display: flex;
   gap: 16px;
   width: max-content;
   flex-wrap: nowrap;
   animation: scroll 25s var(--_animation-direction, forwards) linear infinite;
   @media screen and (max-width: 1024px) {
      height: 216px;
      gap: 8px;
   }
}

.scroller[data-direction="right"] {
   --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
   --_animation-direction: forwards;
}

@keyframes scroll {
   to {
      transform: translate(calc(-25% - 0.5rem));
   }
}

@media screen and (max-width: 576px) {
   .ourEvent h6 {
      font-size: 14px;
   }
}
.ourEvent {
   text-align: center;
   margin: 0;
}
.ourEvent h6 svg {
   transform: rotate(0.5turn);
}

.scroller::after,
.scroller::before {
   content: "";
   display: block;
   background: #151515;
   width: calc(100% + 40px);
   height: 130px;
   position: absolute;
   border-radius: 50%;
   z-index: 1;
   @media screen and (max-width: 1024px) {
      height: 50px;
   }
   @media screen and (max-width: 576px) {
      height: 30px;
   }
}

.scroller::after {
   top: 0;
   left: 50%;
   transform: translate(-50%, -50%);
}
.scroller::before {
   bottom: 0;
   left: 50%;
   transform: translate(-50%, 50%);
}
