@media screen and (max-width: 576px) {
   .ourEvent h6 {
      font-size: 14px;
   }
}
.ourEvent {
   text-align: center;
   margin: 0;
}
.ourEvent h6 svg {
   transform: rotate(0.5turn);
}

.sliderEventsContainer {
   position: relative;
   overflow: hidden;
   width: 100vw;
   left: 50%;
   transform: translateX(-50%);
}

.sliderEventsContainer::after,
.sliderEventsContainer::before {
   content: "";
   display: block;
   background: #151515;
   width: calc(100% + 40px);
   height: 130px;
   position: absolute;
   border-radius: 50%;
   z-index: 1;
   @media screen and (max-width: 1024px) {
      height: 50px;
   }
   @media screen and (max-width: 576px) {
      height: 30px;
   }
}

.sliderEventsContainer::after {
   top: 0;
   left: 50%;
   transform: translate(-50%, -50%);
}
.sliderEventsContainer::before {
   bottom: 0;
   left: 50%;
   transform: translate(-50%, 50%);
}

.sliderEvents {
   height: 400px;
   display: flex;
   gap: 16px;
   animation: scroll 13s linear infinite;
   @media screen and (max-width: 1024px) {
      height: 216px;
      gap: 8px;
   }
}

// FIXME checkedge cases if images more than 5 pc.
@keyframes scroll {
   0% {
      transform: translateX(-130px);
   }
   100% {
      transform: translateX(calc(-400px * 5));
   }
}

@media screen and (max-width: 1024px) {
   @keyframes scroll {
      0% {
         transform: translateX(-180px);
      }
      100% {
         transform: translateX(calc(-400px * 3));
      }
   }
}
.our-events-container::-webkit-scrollbar {
   display: none;
}
