.clientCard {
   display: flex;
   border-radius: 15px;
   width: 148px;
   height: 76px;
   // FIXME check with designers
   object-fit: contain;
   // object-fit: cover;
}
// .png {
//    object-fit: contain;
// }
// .NoPng {
//    object-fit: cover;
// }
