@import "../../../scss/partials/variables";
@import "../../../scss/partials/mixin";

.cardContainer {
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 16px;
   align-items: center;
   border-radius: 16px;
   transition: all 0.27s ease-in-out;
   position: relative;
   border-radius: 16px;
   overflow: hidden;
}

.cardContainer * {
   transition: all 0.27s ease-in-out;
}

// FIX_ME if landscape card verified uncoment and fix

// .portrait {
// }

// .landscape {
// }

.cardImage {
   display: block;
   max-width: 230px;
   max-height: 296px;
   min-width: 230px;
   min-height: 296px;
   border-radius: 16px;
   object-fit: cover;
   @include sm {
      max-width: 164px;
      max-height: 198px;
      min-width: 164px;
      min-height: 198px;
   }
}
