@import "../../../scss/partials/variables";

.collabCardContainer {
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 16px;
   align-items: center;
   height: 334px;
   width: 230px;
   border-radius: 16px;
   transition: all 0.27s ease-in-out;
}

.collabCard {
   width: 100%;
   height: 100%;
   border-radius: 16px;
   object-fit: cover;
}

.collabCardContainer:hover {
   position: relative;
   height: calc(334px + 30px);
   width: calc(230px + 30px);
   z-index: 5;
   font-size: 20px;
   font-weight: $bold;
   letter-spacing: 0.4px;
}
