@import "../../../scss/partials/variables";
@import "../../../scss/partials/mixin";

.teamCard {
   height: 340px;
   @include sm {
      height: 269px;
   }
   position: relative;
   border-radius: 16px;
   overflow: hidden;
}
.loadingBox {
   border-radius: 16px;
   background-color: #fff;
   width: 100%;
   height: 100%;
   opacity: 0.3;
   animation: fadeInOut 2s infinite;
}

@keyframes fadeInOut {
   0% {
      opacity: 0.3;
   }
   50% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}

.portrait {
   width: 100%;
}

.landscape {
   width: 100%;
}

.teamCard h4 {
   font-weight: $bold;
   margin-left: 24px;
   @include sm {
      font-size: 14px;
      line-height: 21px;
      margin-left: 16px;
   }
}

.teamCard p {
   margin: 0 0 35px 24px;

   @include sm {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      margin-left: 16px;
      margin-bottom: 28px;
   }
}

.teamCardContent {
   height: 340px;
   @include sm {
      height: 269px;
   }
   width: 100%;
   transition: transform 0.7s ease-out;
   transform-style: preserve-3d;
}

.teamCardContentBack h4,
.teamCardContentBack p {
   transform: rotateY(0.5turn);
}

.teamCardContentFront,
.teamCardContentBack {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   backface-visibility: hidden;
   transform-style: preserve-3d;
}

.teamCardContentFront img,
.teamCardContentBack video {
   border-radius: 16px;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   backface-visibility: hidden;
   transform-style: preserve-3d;
   object-fit: cover;
   object-position: center;
}

.teamCardContentFront,
.teamCardContentBack {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-start;
}

.teamCardContentBack {
   transform: rotateY(0.5turn);
}
.teamCardContentFront img {
   transform: translateZ(0.1px);
}

.teamCardContentBack video {
   transform: translateZ(0.1px);
}

.teamCardContent p,
.teamCardContent h4 {
   transform: translateZ(0.1px);
   position: relative;
   z-index: 3;
}

.teamCard:hover .teamCardContent {
   transform: rotateY(0.5turn);
}
.shadow {
   transform: translateZ(0.1px);
   position: absolute;
   border: 1px solid black;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   backface-visibility: hidden;
   transform-style: preserve-3d;
   border-radius: 16px;
   z-index: 2;
   width: 100%;
   height: 100%;
   background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 39.06%, rgba(0, 0, 0, 0.6) 78.65%, rgba(0, 0, 0, 0.79) 100%);
}
