@import "../../../scss/partials/variables";
@import "../../../scss/partials/mixin";

.teamCard {
   position: relative;
   border-radius: 16px;
   height: 340px;
   width: 230px;
   overflow: hidden;
   @include sm {
      width: 187px;
      height: 269px;
      & :nth-child(9) {
         width: 358px;
      }
   }
}

.portrait {
   min-width: 230px;
}

.landscape {
   min-width: 730px;
   @include sm {
      & .teamCardContent {
         width: 358px;
      }
   }
}

.teamCard h4 {
   font-weight: $bold;
   margin: 5px;
   @include sm {
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
      margin-left: 16px;
   }
}

.teamCard p {
   margin: 5px;
   @include sm {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      margin-left: 16px;
      margin-bottom: 28px;
   }
}

.teamCardContent {
   height: 340px;
   transition: transform 0.7s ease-out;
   transform-style: preserve-3d;
   @include sm {
      width: 187px;
      height: 269px;
      
   }
}

.teamCardContentFront {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-start;
}

.teamCardContentFront img {
   transform: translateZ(5px);
}

.teamCardContentFront p {
   transform: translateZ(15px);
}

.teamCardContentFront h4 {
   transform: translateZ(25px);
}
 
.teamCardContentBack h4,
.teamCardContentBack p {
   transform: rotateY(0.5turn);
}
 
.teamCardContentFront,
.teamCardContentBack {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   backface-visibility: hidden;
   transform-style: preserve-3d;
}
 
.teamCardContentFront img,
.teamCardContentBack video {
   border-radius: 16px; 
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   backface-visibility: hidden;
   transform-style: preserve-3d;
   object-fit: cover;
   object-position: center;
}
 
.teamCard:hover .teamCardContent {
   transform: rotateY(0.5turn);
}

.teamCardContentBack {
   transform: rotateY(0.5turn);
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-start;
}
 
.teamCardContentBack video {
   transform: translateZ(5px);
}

.teamCardContentBack p {
   transform: translateZ(15px);
}

.teamCardContentBack h4 {
   transform: translateZ(25px);
}

.shadow {
   transform: translateZ(5.1px);
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   backface-visibility: hidden;
   transform-style: preserve-3d;
   border-radius: 16px;
   z-index: 2;
   width: 100%;
   height: 100%;
   background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 39.06%, rgba(0, 0, 0, 0.6) 78.65%, rgba(0, 0, 0, 0.79) 100%);
}