@import "../../../scss/partials/variables";

.gallery {
   margin: 80px 100px 0;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
}

.galleryCards {
   color: $color_yellow;
   font-size: 30px;
   max-width: 400px;
   max-height: 270px;
   gap: 4px;
   gap: 4px;
   overflow: hidden;
   border-radius: 16px;
}
.galleryCards img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.galleryCardsContent {
   position: relative;
   transform: translate(7%, -130%);
   z-index: 5;
}
