@import "../../../scss/partials/mixin";

.teamWrapper {
   @media (min-width: 1025px) {
      margin-right: 0 !important;
   }

   --element-indent: calc(calc(55px * 2) - calc(20px * 2));
}

.teamContainer {
   border-start-start-radius: 15px;
   border-end-start-radius: 15px;
   margin-left: 80px;
   height: 340px;
   user-select: none !important;
   display: flex;
   justify-content: space-between;
   align-items: center;

   @media (max-width: 1024px) {
      margin: auto;
      max-width: calc(100% - var(--element-indent));
   }
   @media (max-width: 576px) {
      --element-indent: calc(calc(37.5px * 2) - calc(16px * 2));
   }
}

.teamContainer::-webkit-scrollbar {
   display: none;
}

.cardContainer {
   border-radius: 16px;
   overflow: hidden;
}

.portrait {
   min-width: 230px;
   max-width: 230px;
   @include sm {
      min-width: 187px;
      max-width: 187px;
      max-height: 269px;
   }
}

.landscape {
   min-width: calc(230px * 2);
   max-width: calc(230px * 2);
   @include sm {
      min-width: calc(187px * 2);
      max-height: 269px;
   }
}

.buttonPrev,
.buttonNext {
   display: none;
   z-index: 1;
   @media screen and (max-width: 1024px) {
      display: block;
   }
   @include sm {
      width: 10px;
      height: 20px;
      // margin-right: 10px;
   }
   & svg {
      @include sm {
         width: 10px;
         height: 20px;
      }
   }
}
.buttonPrev {
   position: absolute;
   left: 0;
}

.buttonNext {
   transform: scaleX(-1);
   position: absolute;
   right: 0;
}
