@import "../../../scss/partials/mixin";

@media (min-width: 1024px) {
   .swiperWrapper {
      position: relative;
      transform: translateX(1000px);
      transition: transform 1s;
   }

   .swiperWrapper[data-draw-out="true"] {
      transform: translateX(0);
   }
}

.teamWrapper {
   @media (min-width: 1025px) {
      padding-right: 0 !important;
   }

   --element-indent: calc(calc(55px * 2) - calc(20px * 2));
}

.teamContainer {
   overflow: hidden;
   max-width: 1440px;
   margin: auto;
   padding-left: 100px;
   border-start-start-radius: 15px;
   border-end-start-radius: 15px;
   height: 340px;
   user-select: none !important;
   display: flex;
   justify-content: space-between;
   align-items: center;

   @media (max-width: 1024px) {
      padding-inline: 30px;
      // max-width: calc(100% - var(--element-indent));
      margin: unset;
      position: relative;
   }
   @media (max-width: 576px) {
      --element-indent: calc(calc(37.5px * 2) - calc(16px * 2));
   }
}
.teamContainer[data-less-six="5"] {
   padding-left: 20px;
}
.teamContainer[data-less-six="4"] {
   padding-left: 0px;
}
.teamContainer[data-less-six="2"] {
   padding-inline: 0px;
}

.teamContainer::-webkit-scrollbar {
   display: none;
}

.cardContainer {
   border-radius: 16px;
   overflow: hidden;
}

.PORTRAIT {
   min-width: 230px;
   max-width: 230px;
   @include sm {
      min-width: 187px;
      max-width: 187px;
      max-height: 269px;
   }
}

.LANDSCAPE {
   min-width: calc(230px * 2);
   max-width: calc(230px * 2);
   @include sm {
      min-width: calc(187px * 2);
      max-height: 269px;
   }
}
