@import "../../../scss/partials/mixin";

.teamWrapper {
   margin-right: 0 !important;
   // FIX_ME scroll is not smooth animation

   transition-duration: 1.5s !important;
}
.teamCardsContainer {
   border-start-start-radius: 15px;
   border-end-start-radius: 15px;
   margin-left: 80px;
   @media screen and (max-width: 1024px) {
      margin-left: 0;
   }
}

.teamSlider {
   border-radius: 16px;
   height: 340px;
}

.portrait {
   max-width: 230px;
   @include sm {
      max-width: 187px;
      max-height: 269px;
   }
}

.landscape {
   max-width: 730px;
   @include sm {
      max-width: 440px;
      max-height: 269px;
   }
}

.teamCardsContainer::-webkit-scrollbar {
   display: none;
}

.lastCardPadding {
   width: 100px;
}

.buttonPrev {
   display: none;
   rotate: 180deg;
   position: absolute;
   z-index: 2;
   left: -12px;
   top: 50%;

   @media screen and (max-width: 1024px) {
      display: block;
   }
}

.buttonNext {
   display: none;
   position: absolute;
   z-index: 2;
   right: 8px;
   top: 50%;
   @media screen and (max-width: 1024px) {
      display: block;
   }
}
