@import "../../../scss/partials/mixin";

.collabWrapper {
   transition-duration: 1.5s !important;
   --element-indent: calc(calc(55px * 2) - calc(20px * 2));
   height: 468px;
   @media (min-width: 1025) {
      margin-right: 0 !important;
   }

   @include sm {
      height: 350px;
   }
}

.collabContainer {
   margin-left: 80px;
   display: flex;
   justify-content: space-between;
   @media (max-width: 1024px) {
      margin: auto;
      max-width: calc(100% - var(--element-indent));
   }
   @media (max-width: 576px) {
      --element-indent: calc(calc(37.5px * 2) - calc(16px * 2));
   }
}

.collabCardsContainer {
   transition: all 0.27s ease-in-out;
   width: 230px;
   min-height: 378px;
   @include sm {
      width: 164px;
      min-height: 198px;
      div p {
         font-size: 13px;
      }
   }
}

.collabCardsContainer:hover {
   @media screen and (min-width: 1200px) {
      width: calc(230px + 30px);
   }
   @include sm {
      width: 164px;
   }
   div img {
      @media screen and (min-width: 1200px) {
         min-width: calc(230px + 30px);
         min-height: calc(296px + 30px);
      }
      @include sm {
         width: 164px;
         height: 198px;
      }
   }
   div p {
      @media screen and (min-width: 1200px) {
         z-index: 5;
         font-size: 20px;
         font-weight: $bold;
         letter-spacing: 0.4px;
      }
      @include sm {
         font-size: 13px;
      }
   }
}

.buttonPrev,
.buttonNext {
   display: none;
   z-index: 1;
   top: 50%;
   transform: translateX(-50%);
   @media screen and (max-width: 1024px) {
      display: block;
   }
   @include sm {
      width: 10px;
      height: 20px;
   }
   & svg {
      @include sm {
         width: 10px;
         height: 20px;
      }
   }
}

.buttonPrev {
   position: absolute;
   left: 0;
}

.buttonNext {
   transform: scaleX(-1);
   position: absolute;
   right: 0;
}
