@import "../../../scss/partials/mixin";

@media (min-width: 1024px) {
   .swiperWrapper {
      position: relative;
      transform: translateX(1000px);
      transition: transform 1s;
   }

   .swiperWrapper[data-draw-out="true"] {
      transform: translateX(0);
   }
}

.swiperWrapper {
   div {
      gap: 30px;
      @media (max-width: 1024px) {
         gap: 16px;
      }
      @media (max-width: 576px) {
         gap: 10px;
      }
   }
}

.collabWrapper {
   transition-duration: 1.5s !important;
   --element-indent: calc(calc(55px * 2) - calc(20px * 2));
   @media (min-width: 1025px) {
      padding-right: 0 !important;
   }

   @include sm {
      height: 350px;
   }
}

.collabContainer {
   overflow: hidden;
   max-width: 1440px;
   margin: auto;
   padding-left: 100px;
   display: flex;
   justify-content: space-between;
   border-start-start-radius: 15px;
   border-end-start-radius: 15px;
   height: 450px;
   @media (max-width: 1024px) {
      padding-inline: 30px;
      position: relative;
      // max-width: calc(100% - var(--element-indent));
      margin: unset;
      height: 400px;
   }
   @media (max-width: 576px) {
      height: unset;
      --element-indent: calc(calc(37.5px * 2) - calc(16px * 2));
   }
}

.card:active {
   cursor: grabbing;
}

.card div {
   display: flex;
}

.card {
   cursor: pointer;
   transition: all 0.27s ease-in-out;
   width: 230px;
   height: 378px;
   display: grid;
   grid-template-rows: max-content;
   text-align: center;
   align-content: stretch;
   gap: 16px;
   img,
   div {
      transition: all 0.27s ease-in-out;
      border-radius: 16px;
      width: 100%;
      height: 296px !important;
      object-fit: cover;
   }
   p {
      user-select: none;
      transition: all 0.27s ease-in-out;
      height: min-content;
      z-index: 1;
      @include sm {
         font-size: 13px;
      }
   }
   @include sm {
      width: 168px;
      height: 270px;
      img,
      div {
         height: 198px !important;
      }
   }
}

@media (min-width: 1024px) {
   .card:hover {
      --add-size: 30px;
      width: calc(230px + var(--add-size));
      height: calc(378px + var(--add-size));
      img,
      div {
         height: calc(296px + var(--add-size)) !important;
      }
      p {
         font-size: 20px;
         font-weight: $bold;
         letter-spacing: 0.4px;
      }
   }
}
