@import "../../../scss/partials/mixin";

#collabWrapper {
   position: relative;
}

.collabSwiper {
   width: 1340px
}

.collabCardsContainer {
   height: 430px;
   display: flex;
   gap: 0;
   overflow-x: scroll;
   border-start-start-radius: 15px;
   border-end-start-radius: 15px;
   margin-left: 100px;
   @include xxl {
      margin-left: 20px;
   }
   @include xl {
      margin-left: 20px;
   }
   @media screen and (max-width: 892px) {
      margin-left: 20px;
   }
   @include md {
      margin-left: 20px;
   }
   @include sm {
      margin-left: 16px;
   }
}

.collabCardsContainer::-webkit-scrollbar {
   display: none;
}

.buttonPrev {
   display: none;
   rotate: 180deg;
   @include xxl {
      display: none;
   }
   @include xl {
      display: block;
      position: absolute;
      z-index: 2;
      top: 40%;
      left: 8px;
   }
   @media screen and (max-width: 892px){
      display: block;
      position: absolute;
      z-index: 2;
      top: 40%;
      left: 8px;
   }
   @include md {
      display: block;
      position: absolute;
      z-index: 2;
      top: 40%;
      left: 8px;
   }
   @include sm {
      display: block;
      position: absolute;
      z-index: 2;
      top: 35%;
      left: 1px;
   }
}

.buttonNext {
   display: none;
   @include xxl {
      display: none;
   }
   @include xl {
      display: block;
      position: absolute;
      z-index: 2;
      top: 40%;
      right: 12px;
   }
   @media screen and (max-width: 892px) {
      display: block;
      position: absolute;
      z-index: 2;
      top: 40%;
      right: 12px;
   }
   @include md {
      display: block;
      position: absolute;
      z-index: 2;
      top: 40%;
      right: 12px;
   }
   @include sm {
      display: block;
      position: absolute;
      z-index: 2;
      top: 35%;
      right: 1px;
   }
}