@use "../../../scss/partials/mixin" as mix;
@import "../../../scss/partials/variables";

.navButtons {
   display: flex;
   background-color: #151515;
   border-block: 1px solid #353535;
   height: 30px;
   @include mix.xl {
      display: none;
   }
}

.navButtons a {
   width: 100%;
   text-align: center;
   font-weight: 600;
}

// on coolBand page
.navButtonsSecondaryNotActive:hover {
   background: linear-gradient(90deg, #151515 0%, #5979fa 50%, #151515 100%);
}
.navButtonsMainActive:hover {
   color: $color_black;
   cursor: default;
}
.navButtonsMainActive {
   color: $color_black;
   background: #fed102d6;
   font-weight: 700;
   box-shadow: 0px -4px 6.7px 0px rgba(80, 80, 80, 0.37) inset;
   border-end-end-radius: 16px;
}

.navButtonsSecondaryNotActive {
   box-shadow: 0px -4px 7px 0px rgba(37, 37, 37, 0.31) inset;
}

// on Coolstudio page

.navButtonsSecondaryActive {
   background: #5979fa;
   font-weight: 700;
   cursor: default;
   border-end-start-radius: 16px;
   box-shadow: 0px -4px 6.7px 0px rgba(80, 80, 80, 0.37) inset;
}
.navButtonsMainNotActive:hover {
   color: $color_black;
   background: linear-gradient(90deg, #151515 0%, #fed102 50%, #151515 100%);
}
.navButtonsMainNotActive {
   box-shadow: 0px -4px 7px 0px rgba(37, 37, 37, 0.31) inset;
}
