.AboutUsWrapper {
   display: flex;
   justify-content: space-between;
   gap: 90px;
}

.AboutUsH2 {
   color: #fff;
   font-size: 32px;
   font-style: normal;
   font-weight: 700;
   margin-bottom: 48px;
   display: flex;
   justify-content: center;
   letter-spacing: 0.64px;
}
.TextWrapper {
   width: 700px;
   color: #fff;
   font-size: 19px;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: 0.38px;
   position: relative;
}

.AboutUsImg {
   width: 432px;
   height: 288px;
}
.ExpandedText {
   width: 792px;
   opacity: 0;
}

.expanded {
   opacity: 1;
   transition: opacity 1s cubic-bezier(0.4, 0, 1, 1);
}
.ExpandButton {
   color: #fff;
}

.MoreButton {
   opacity: 0.5;
   text-decoration: underline;
   margin-left: 2px;
}
.CollapseButton {
   position: absolute;
   margin-top: 24px;
   text-decoration: underline;
   display: flex;
   justify-content: center;
   width: 792px;
}

@keyframes fadeInOut {
   0% {
      opacity: 0;
      max-height: 0;
   }
   100% {
      opacity: 1;
      max-height: 1000px;
   }
}

.ExpandedText {
   opacity: 0;
   overflow: hidden;
   animation: fadeInOut 1s ease-in-out;
}

.expanded {
   opacity: 1;
   max-height: 1000px;
}

.CollapseButton,
.MoreButton {
   transition: 0.5s;
}
