.navigation {
  width: 70%;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 100px;
  text-wrap: nowrap;
}
