.navigation {
   list-style-type: none;
   width: 70%;
   display: flex;
   justify-content: space-between;
   gap: 24px;
   color: #fff;
   font-family: inherit;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   padding-left: 100px;
   text-wrap: nowrap;
}

a {
   text-decoration: none;
}

.active {
   color: #fed102;
}

a:active {
   color: #fed102;
}

a:hover {
   color: #fed102;
}
