.Collaboration {
  // margin: 120px 0px;
  width: 100%;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fcfcfc;
  & h1 {
    margin-bottom: 60px;
  }
}

.CollaborationCard {
  width: 230px;
  height: 378px;
  text-align: center;
  & img {
    width: 230px;
    height: 296px;
    border-radius: 16px;
    margin-bottom: 16px;
  }
  & h4 {
    margin: 0;
    padding: 0;
  }
}

.CollaborationSlider {
  width: 1340px;
  height: 378px;
}
