.about {
  display: flex;
  justify-content: space-between;
  gap: 33px;
  padding-inline: 100px;
}

.article {
  max-width: 770px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.article p {
  white-space: pre-wrap;
}
.article p::after {
  content: "\00a0";
  display: block;
  margin-bottom: 10px;
}

.about img {
  border-radius: 16px;
  width: 100%;
  max-width: 400px;
  max-height: 362px;
  object-fit: cover;
}
