@use "../mixin" as mix;

.mainMapDiv {
  display: flex;
  justify-content: space-between;
}

.callToUs {
  font-weight: bold;
  font-size: 32px;
  color: #FCFCFC;
}

.music {
  font-size: 26px;
  font-weight: bold;
  margin: 43px 0;
  color: #FFFFFF;
}

.toBook {
  max-width: 480px;
  color: white;
  line-height: 27px;
}

.innerMapDiv {
  text-align: center;
}

.mapDiv {
  border-radius: 16px;
  overflow: hidden;
}

.btnCall {
  margin: 100px 0 0 0;
  color: yellow;
  position: relative;
  border: 1px solid yellow;
  border-radius: 16px;
  padding: 10px 133px;
}

.btnCall::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 67px;
  width: 14px;
  height: 20px;
}
