@import "../../../../scss//partials/mixin";

.Image {
   position: relative;
}
.video {
   min-height: 288px;
   min-width: 432px;
   border-radius: 16px;
   object-fit: cover;
   @include md {
      width: 100%;
      min-height: 350px;
   }
   @media screen and (max-width: 470px) {
      min-height: 228px;
      min-width: 40px;
   }
}

.img {
   max-width: 432px;
   border-radius: 16px;
   object-fit: cover;
   max-height: 288px;
   @include md {
      width: 100%;
      max-width: 720px;
      min-height: 350px;
   }
   @media screen and (max-width: 470px) {
      min-height: 150px;
   }
}

.play img {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   @include md {
      max-width: 70px;
      max-height: 70px;
   }
   @media screen and (max-width: 470px) {
      max-height: 40px;
      max-width: 40px;
   }
}
