@import "../../../scss/partials/mixin";

.about {
   max-width: 1240px;
   margin: 0 auto;
   display: flex;
   gap: 70px;
   overflow: hidden;

   @include md {
      flex-wrap: wrap;
      flex-direction: column-reverse;
      .article {
         width: 100%;
      }
   }
   @include sm {
      gap: 24px;
   }
}
.aboutBand h2 {
   @include xl {
      font-size: 24px;
   }
}
@media screen and (max-width: 390px) {
   .aboutBand h2 {
      font-size: 16px;
      margin-bottom: 24px;
   }
}

.article {
   display: flex;
   flex-direction: column;
   gap: 24px;
   justify-content: space-between;
   white-space: pre-wrap;
   max-width: 770px;
   width: 360px;
   flex-grow: 1;
}

.article p {
   font-size: 19px;
   letter-spacing: 0.38px;
   @include xl {
      font-size: 16px;
   }
   @include sm {
      font-size: 12px;
   }
}

.image {
   border-radius: 16px;
   overflow: hidden;
   height: 362px;
   flex-basis: 400px;

   @include xl {
      min-height: 320px;
   }
   @include md {
      max-width: 720px;
   }
}
@media (max-width: 390px) {
   .image {
      max-width: 358px;
      min-height: 185px;
   }
}
