@import "../../scss/partials/variables";

.mapContent {
   max-width: 1240px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;

   @media screen and (max-width: 1024px) {
      .textContainer {
         gap: 20px;
      }
   }
   @media screen and (max-width: 910px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      justify-items: center;
      max-width: 458px;
      .textContainer {
         grid-template-columns: 1fr;
         gap: 60px;
      }
      .text {
         gap: 20px;
      }
      .text {
         h2 {
            font-size: 26px;
         }
         h3 {
            font-size: 20px;
         }
         p {
            font-size: 16px;
            line-height: 120%;
         }
      }
   }
   @media screen and (max-width: 700px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
   }

   @media screen and (max-width: 460px) {
      .map {
         min-height: 220px;
      }
      .text {
         h2 {
            font-size: 20px;
         }
         h3 {
            font-size: 16px;
         }
         p {
            font-size: 14px;
         }
      }
   }
}

.map {
   width: 100%;
   min-height: 414px;
   border-radius: 16px;
   overflow: hidden;
}

.textContainer h2 {
   text-wrap: nowrap;
   padding: 0;
   font-weight: $bold;
   @media screen and (max-width: 1080px) {
      text-wrap: wrap;
   }
}
.textContainer h3 {
   font-weight: $bold;
}
.textContainer p {
   font-size: 20px;
}
.textContainer {
   display: grid;

   gap: 100px;
}

.text {
   display: flex;
   flex-direction: column;
   gap: 43px;
}
