.header {
   // for responsive fix later
   // Если у вас верстка фиксированной ширины то настройте max-width для настройки отступа навигации
   max-width: calc(100% - 200px);
   // ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
   top: 0;
   width: -webkit-fill-available;
   padding: 0 100px;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   z-index: 10;
   background-color: $main-background-color;
}

.header-nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   flex-wrap: wrap;
}
